
main {
    margin: 10em auto 2em auto;
    width: 300px;
    border: 1px solid black;
    padding: 1em;
}

button {
    height: 4em;
}

#eq-display {
    height: 1em;
}

#num-display {
    font-size: 4em;
    text-align: end;
    height: 1.4em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.3em;
    grid-auto-flow: row dense;
}

#answer {
    grid-column: 4/-1;
    grid-row: 4;
}
